body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:16px;
  width:1513px;
  height:734px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:734px;
}
#u1 {
  position:absolute;
  left:2px;
  top:359px;
  width:1509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1441px;
  top:11px;
  width:679px;
  height:734px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:734px;
}
#u3 {
  position:absolute;
  left:2px;
  top:359px;
  width:675px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:140px;
  top:50px;
  width:90px;
  height:36px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:990px;
  top:210px;
  width:150px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:988px;
  top:245px;
  width:150px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:990px;
  top:280px;
  width:150px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:2200px;
  top:26px;
  width:370px;
  height:124px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:124px;
}
#u13 {
  position:absolute;
  left:2px;
  top:54px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:2210px;
  top:76px;
  width:330px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:2210px;
  top:40px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:230px;
  top:76px;
  width:1970px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1970px;
  height:1px;
}
#u19 {
  position:absolute;
  left:2050px;
  top:11px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
